* {
	margin: 0;
	padding: 0;
	font-family: Muli;
}

html, body {
	width: 100%;
}

/* TOP BAR */

.wrapper {
	width: 100%;
	padding: 0 20px;
}

.top-bar {
	background-color: #fafafa;
	height: 70px;
	display: flex;
	align-items: center;
}

.icon-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-icons {
	padding-top: 2px;
}

.phone-icon {
	color: orange;
	font-size: 18px;
	margin-right: 25px;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.phone-icon:active {
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.phone-icon:hover {
	color: #BF5A2E;
	transition: 0.3s;
}

.email-icon {
	color: orange;
	font-size: 18px;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.email-icon:hover {
	color: #BF5A2E;
}

ion-icon {
	font-size: 16px;
	color: white;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

ion-icon:hover {
	color: orange;
}

ul li {
	list-style: none;
}

header {
	height: 100px;
	padding: 0 20px;
	display: flex;
	align-items: center;
}

/*BANNER*/
.brand-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

h1 a {
	text-decoration: none;
	color: black;
	font-size: 28px;
}

.menu-icon {
	color: black;
	font-size: 24px;
	padding-top: 5px;
}

/*IMAGE BANNER*/

.index-banner {
	width: 100%;
	height: calc(100vh - 60px);
	background-image: url("images/banner_image.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

}

/*OUR PRODUCTS SECTION*/
.products-section {
	height: 1000px;
}
