* {
	margin: 0;
	padding: 0;
	font-family: 'Muli';
}

html, body {
	width: 100%;
}

/* TOP BAR */

.wrapper {
	width: 100%;
	padding: 0 10px;
}

.top-bar {
	background-color: #fafafa;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
}

.icon-row {
	display: flex;
	width: ;
	justify-content: space-between;
	align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-icons {
	padding-top: 5px;
	padding-left: 150px;
}

.phone-icon {
	color: orange;
	font-size: 18px;
	margin-right: 25px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
   transition: all .3s ease;
}

.phone-icon:active {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.phone-icon:hover {
	color: #BF5A2E;
	transition: 0.3s;
}

.email-icon {
	color: orange;
	font-size: 18px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
   transition: all .3s ease;
}

.email-icon:hover {
	color: #BF5A2E;
}

ion-icon {
	font-size: 16px;
	color: white;
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -o-transition: all .3s ease;
    transition: all .3s ease;
}

ion-icon:hover {
	color: orange;
}

ul li {
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	height: 100px;
}

/*BANNER*/
.brand-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu {
	padding: 5px 0 0 175px;
	
}

h1 a {
	text-decoration: none;
	color: black;
	font-size: 28px;
}

.menu-icon {
	color: black;
	font-size: 24px;
	padding-top: 5px;
}

/*IMAGE BANNER*/

.index-banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/banner_image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.greeting-text {
	color: white;
	height: 200px;
	width: 300px;
	padding: 170px 0 0 10px;
}

.btn {
	text-decoration: none;
	color: white;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: 10px;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

p {
	font-size: 18px;
	line-height: 30px

}
/*OUR PRODUCTS SECTION*/
.products-section {
	height: 1000px;
}